{% extends 'base.html' %}
{% load static %}

{% block title %}Home Page{% endblock title %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/display.css' %}">
{% endblock extra_css %}



{% block content %}
<h2>Admin Home page</h2>

<div class="stats">
    <p>Employees: {{ total_employees }}</p>
    <p>Departments: {{ total_departments }}</p>
    <p>Active Projects: {{ total_projects }}</p>
</div>

<div class="quick-actions">
    <a href="{% url 'add_employee' %}">Add Employee</a>
    <a href="{% url 'create_dept' %}">Add Department</a>
    <a href="{% url 'create_project' %}">Add Project</a>
</div>

<table>
    {% for project in Projects %}
        <tr>
            <td><a href="{% url 'project_detail' project.id %}">{{ project.p_name }}</a></td>
            <td>{{ project.status }}</td>
        </tr>
    {% endfor %}
</table>

<!-- pagination links same as employee list -->
</div>
  
{% endblock content %}