<form method="post">
        {% csrf_token %}

        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <p style="color: red;">{{error}}</p>
            {% endfor %}
        {% endif %}
        

        {% for field in form %}
               <div>
                <label for="">{{field.label}}</label>
                {{field}}
               </div>
               {% for error in field.errors %}
                    <p style="color: red;">{{error}}</p>
               {% endfor %}

        {% endfor %}

        

        <button type = "submit"> {{operation}} </button>
  </form>
  