{% extends 'base.html' %}
{% load static %}

{% block title %}Employee Table {% endblock title %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/display.css' %}">
{% endblock extra_css %}

{% block content %}
<!-- Search employee -->
<form method="get">
    <input type="text" name="search" placeholder="Search by name" value="{{ request.GET.search }}">
    <select name="department">
        <option value="">All Departments</option>
        {% for dept in departments %}
    <option value="{{ dept.id }}">{{ dept.d_name }}</option>
{% endfor %}
    </select>
    <button type="submit">Filter</button>
</form>






<div class="add-btn">
    <button><a href="{% url 'add_employee' %}">Add Employee</a></button>
</div>
 <div class="main-container">
    <table>
        <th>S.no</th>
        <th>Employee Name</th>
        <th>Department</th>
        <th>salary</th>
        <th>email</th>
        <th>Action</th>
        
        <tbody>
            {% for employee in employees %}
            <tr><td>{{forloop.counter}}</td>
                <td>{{employee.name}}</td>
                <td>{{employee.department}}</td>
                <td>{{employee.salary}}</td>
                <td>{{employee.email}}</td>
                <td>

                    <div class="btn">
                        <button><a href="{% url 'update' employee.id%}">Update</a></button>
                        <button><a href="{% url 'delete' employee.id%}">Delete</a></button>
                    </div>
                </td>

            
            
            </tr>
            {% endfor %}
        </tbody>
    </table>
 </div>

 <div class="pagination">
    {% if employees.has_previous %}
        <a href="?page={{ employees.previous_page_number }}">Previous</a>
    {% endif %}

    <span>Page {{ employees.number }} of {{ employees.paginator.num_pages }}</span>

    {% if employees.has_next %}
        <a href="?page={{ employees.next_page_number }}">Next</a>
    {% endif %}
</div>
 
{% endblock content %}