{% extends 'base.html' %}
{% load static %}

{% if course %}
{% block title %}{{course.meta.title}}{% endblock title%}

{% else %}

    Not found
    
{% endif %}

{% block extra_css%}
<link rel="stylesheet" href="{% static 'css/details.css' %}">
{% endblock extra_css%}

{% block content %}

<div class="image-container">
     {% if course %}
        
            
            <div class="title">
                <p>Name:{{course.meta.title}}</p>
                <p>Level:{{course.meta.level}}</p>
                <div class="btn">
                    
                    <button>Enroll Now</button>
                    <button><a href="{% url 'courses' %}">Back to courses</a></button>
                </div>
            </div>
            
            <div class="price">
                <p class="money">Price:{{course.meta.price}} &#8377;</p>

                <p class="duration">Duration:{{course.meta.duration}} Days</p>
            </div>

        
        {% endif %}
    

</div>
    <div class  = main-container>
        {% if course %}
       
        <div class="instructor">
            <p class="title">Know your instructor</p>
            <div class="content">

                <p>Name:{{course.instructor.name}}</p>
                <p>Experience:{{course.instructor.experience}}</p>
                <p>Bio:{{course.instructor.info}}</p>
            </div>
        </div>
        <div class="modules">
            <p>What you will learn</p>
            <ul>

                {% for module in course.modules %}
                <li>{{module}}</li>
                   
                {% endfor %}
            </ul>

        </div>
        {% else %}
            <p>course not found</p>
        {% endif %}
    </div>
{% endblock content %}