*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-cont{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     background-color: lightpink;
     gap: 20px;
}

.book-text{
    display: flex;
    justify-content: center;
    align-items: center;
}

.book-text a{
    color: red;
    font-size: 22px;
    text-decoration: none;
}
